.popup__container {
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  max-width: 430px;
  width: 100%;
  z-index: 5;
  position: relative;
  padding: 34px 36px 37px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-self: center;
  margin: 0 auto;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}
