@import url(./vendor/normalize.css);
@import url(./vendor/font.css);
@import url(./blocks/root/root.css);
@import url(./blocks/content/content.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__img/cards__img.css);
@import url(./blocks/cards/__item/cards__item.css);
@import url(./blocks/cards/__like-img/cards__like-img.css);
@import url(./blocks/cards/__likes-counter/cards__likes-counter.css);
@import url(./blocks/cards/__like-img/__like-img_active/cards__like-img_active.css);
@import url(./blocks/cards/__title/cards__title.css);
@import url(./blocks/cards/__delete-button/cards__delete-button.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/places/places.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_type/popup_type_large-picture.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__exit-button/popup__exit-button.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/__submit-button/_disabled/popup__submit-button_disabled.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__add-button/profile__add-button\ .css);
@import url(./blocks/profile/__conteiner/profile__conteiner.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__img/profile__img.css);
@import url(./blocks/profile/__info-container/profile__info-container.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__profession/profile__profession.css);
@import url(./blocks/profile/__name-container/profile__name-container.css);
@import url(./blocks/large-picture/large-picture.css);
@import url(./blocks/large-picture/__img/large-picture__img.css);
@import url(./blocks/large-picture/__signature/large-picture__signature.css);
@import url(./blocks/popup/__input-span/popup__input-span.css);
@import url(./blocks/popup/__input-span/_type/popup__input-span_type_error.css);

.auth {
  margin: 0 auto;
  padding-top: 60px;
}

.auth__title {
  margin: 0;
  text-align: center;
}

.auth__button {
  padding: 0;
  border: 0;
  margin-top: 186px;
  height: 50px;
}

.auth__input {
  box-sizing: border-box;
  color: white;
  background-color: black;
  margin-bottom: 30px;
  width: 100%;
  border: none;
  padding: 0;
  padding-bottom: 13px;
  border-bottom: 2px solid #cccccc;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.auth__link {
  display: block;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
}

.form {
  padding: 50px 30px 15px;
  margin: 0 auto;
  max-width: 358px;
  display: flex;
  flex-direction: column;
}

.auth__tooltip-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin: 0 0 23px;
}

.auth__tooltip-image {
  margin: 0 auto;
  width: 150px;
  height: 120px;
  background: url(../src/images/tooltip-image.svg) no-repeat center;
}

.auth__tooltip-image_error {
  background: url(../src/images/tooltip-image-err.svg) no-repeat center;
}

.header__email {
}

.header__link {
}

.header {
  padding-top: 45px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 28;
  }
}
