@import url(./vendor/normalize.css);
@import url(./vendor/font.css);
@import url(./blocks/root/root.css);
@import url(./blocks/auth/__tooltip-image/auth__tooltip-image.css);
@import url(./blocks/auth/__tooltip-image/_error/auth__tooltip-image_error.css);
@import url(./blocks/auth/__tooltip-text/auth__tooltip-text.css);
@import url(./blocks/auth/__link/auth__link.css);
@import url(./blocks/auth/__input/auth__input.css);
@import url(./blocks/auth/__button/auth__button.css);
@import url(./blocks/auth/__title/auth__title\ .css);
@import url(./blocks/auth/auth.css);
@import url(./blocks/form/form.css);
@import url(./blocks/content/content.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__img/cards__img.css);
@import url(./blocks/cards/__item/cards__item.css);
@import url(./blocks/cards/__like-img/cards__like-img.css);
@import url(./blocks/cards/__likes-counter/cards__likes-counter.css);
@import url(./blocks/cards/__like-img/__like-img_active/cards__like-img_active.css);
@import url(./blocks/cards/__title/cards__title.css);
@import url(./blocks/cards/__delete-button/cards__delete-button.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__info-container/header__info-container.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/places/places.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_type/popup_type_large-picture.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__exit-button/popup__exit-button.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/__submit-button/_disabled/popup__submit-button_disabled.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__add-button/profile__add-button\ .css);
@import url(./blocks/profile/__conteiner/profile__conteiner.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__img/profile__img.css);
@import url(./blocks/profile/__info-container/profile__info-container.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__profession/profile__profession.css);
@import url(./blocks/profile/__name-container/profile__name-container.css);
@import url(./blocks/large-picture/large-picture.css);
@import url(./blocks/large-picture/__img/large-picture__img.css);
@import url(./blocks/large-picture/__signature/large-picture__signature.css);
@import url(./blocks/popup/__input-span/popup__input-span.css);
@import url(./blocks/popup/__input-span/_type/popup__input-span_type_error.css);
@import url(./blocks/preloader/preloader.css);
@import url(./blocks/preloader/__item/preloader__item.css);

.header__burger-menu {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-right: 30px;
}

.header__burger-line {
  display: block;
  margin: 0;
  width: 24px;
  height: 3px;
  transition: 0.2s;
  background-color: white;
}
