.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 46px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  border: 1px solid #545454;
  opacity: 0.7;
  margin-top: 41px;
  box-sizing: border-box;
  bottom: 0;
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 80vw;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 100%;
    padding-top: 28;
  }
}
